 html {
	height: 100%;
	font-size: 62.5%; /* 10px with default settings */
}

body {
	align-items: center;
	background-size: cover;
	background: white url(backgrounds/0.jpg) no-repeat center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	width: 100%; /* width needed for Firefox */
}

h1 {
	align-items: center;
	background-color: hsla(0, 100%, 0%, .9);
	border-radius: .5rem;
	box-shadow: 0 0 1.5rem hsla(0, 100%, 0%, .4);
	color: white;
	display: flex;
	font-family: helvetica, sans-serif;
	font-size: 8vw;
	justify-content: center;
	opacity: 0.95;
	padding: 0.5em 3rem;
	text-align: center;
	text-shadow: 0 0 1.2rem hsla(0, 100%, 100%, .4);
}

a {
	display: block;
	background-color: hsla(0, 100%, 0%, .9);
	position: fixed;
	bottom: 1em;
	right: 1em;
	font-size: 5vw;
	opacity: 0.95;
	padding: 0.5em;
}

i {
	color: white;
}

#preload {
	display: none;
}